extends ../extends/admin-template

block content
    .ui.segment
        h2.ui.header Invite
            .sub.header Invite a new user to join.
        form.ui.large.form
            .field
                input(type='text', name='email', placeholder='E-mail Address')
            .ui.right.floated.large.primary.submit.button Send

    script(src='/js/direct.invite.js')