extends ../extends/settings-template

block content
    .ui.segment
        form#profile.ui.large.form
            h2.ui.header Profile
            .field
                label Username
                input(type='text' name='username' value=user.username)
            .two.fields
                .field
                    label First Name
                    input(type='text' name='firstname' value=user.firstName)
                .field
                    label Last Name
                    input(type='text' name='lastname' value=user.lastName)
            .field
                label E-mail
                input(type='text' name='email' value=user.email)
            .field
                label Company Name
                input(type='text' readonly='' value=user.company.companyName)
            .ui.large.primary.submit.button Submit
    .ui.segment
        form.ui.large.form
            h2.ui.header Change Password
            .two.fields
                .field
                    label Password
                    input(type='password' name='password')
                .field
                    label Confirm Password
                    input(type='password' name='confirm')
            .ui.large.primary.submit.button Submit