meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
script(src='https://code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous')
script(src='/ui/semantic.min.js')
script(src='/js/jquery.serialize-object.min.js')
script(src='/js/direct.api.js')
link(rel='stylesheet' type='text/css' href='/ui/semantic.min.css')


