.ui.three.top.steps
    .step.active
        i.user.icon
        .content
            .title User Information
            .description Contact information
    .step
        i.lock.icon
        .contenct
            .title Authentication
            .descirption Gotta be safe
    .step
        i.letter.icon
        .contenct
            .title Communcation
            .description Gotta talk
