extends ../extends/out-template

block head
	title #{vars.app_name} Password Recovery

block body
	form.ui.large.form
		.ui.segment
			h2 Request Password Reset
			.ui.green.message.hidden
				p A reset link has been sent via email
			.field
				.ui.left.input
					input(type='text' name='username' placeholder='Username or Email')
			.ui.fluid.large.primary.submit.button Reset my password

	script(src='/js/direct.forgot.js')