extends ../extends/out-template

block head
	title #{vars.app_name} Password Recovery

block body
	form.ui.large.form
		.ui.segment
			h2 Reset Password
			.ui.green.message.hidden
				p Password reset, redirecting...
			.field
				.ui.left.input
					input(type='password' name='password' placeholder='New password')
			.field
				.ui.left.input
					input(type='password' name='confirm' placeholder="Confirm password")

			.ui.fluid.large.primary.submit.button Update Password

		script(src='/js/direct.reset.js')