extends ../extends/out-template

block head
	title #{vars.app_name} Unavailable

block body
	.ui.stacked.segment
		h2(align='center') Browser Incompatible
		p(align='center') The application doesn't work with your browser.

