extends ../extends/out-template

block head
	title #{vars.app_name} Unavailable

block body
	.ui.stacked.segment
		h2(align='center') Currently Unavailable
		p(align='center') The application is unavailable.

