extends ../extends/out-template

block head
    title #{vars.app_name} Signup
    script(src='https://www.authy.com/form.authy.min.js' type='text/javascript')
    link(rel='stylesheet' type='text/css' href='https://www.authy.com/form.authy.min.css' media='screen')
    style(type='text/css').
        .column {max-width: 600px !important;}
        #tfa{display:none;}

block body
    .ui.main.left.aligned.segment
        //include ../includes/signup-setups
        form#profile.ui.large.form
            h2.ui.header Sign-up ~ Step 1
                .sub.header Profile Information
            .field
                label Username
                input(type='text' name='username')
            .two.fields
                .field
                    label First Name
                    input(type='text' name='firstname')
                .field
                    label Last Name
                    input(type='text' name='lastname')
            .field
                label E-mail
                input(type='text' name='email' readonly='' placeholder=email)
            .field
                label Company Name
                input(type='text' readonly='')
            .ui.dividing.header
            .two.fields
                .field
                    label Password
                    input(type='password' name='password')
                .field
                    label Confirm Password
                    input(type='password' name='confirm')
            .ui.large.primary.submit.button Next Step
                i.arrow.right.icon

        form#tfa.ui.large.form
            h2.ui.header Sign-up ~ Step 2
                .sub.header Two Factor Authentication
            input(type='hidden', name='email' value=email)
            .field
                label Country Code
                select#authy-countries.ui.dropdown(type='text')
            .field
                label Cellphone number
                input(type='text' name='phone')
            .ui.large.primary.submit.button Complete
                i.arrow.right.icon
    script(src='/js/direct.signup.js')

