extends ../extends/out-template

block head
    title #{vars.app_name} Login

block body
    form.ui.large.form
        .ui.segment
            h2 Log In
            .ui.red.message.hidden
                p Invalid email or password
            .field
                .ui.left.input
                    input(type='text' name='username' placeholder='Username or Email')
            .field
                .ui.left.input
                    input(type='password' name='password' placeholder="Password" required)
            .ui.fluid.large.primary.submit.button Log In
    .ui.message
        .inline.field
            .ui.checkbox
                input(id='remember' type='checkbox' name='remember')
                label Remember Me
            a(href='/forgot' style='padding-left:5em') Forgot Password?

    script(src='js/jquery.cookie.js')
    script(src='js/direct.login.js')
