extends ../extends/out-template

block head
    title #{vars.app_name} Login

block body
    form.ui.large.form
        .ui.segment
            h2 Two-Factor Auth
            .ui.red.message.hidden
                p Token is invalid
            .field
                .ui.left.input
                    input(type='text' name='token' placeholder='Token')
            .field
                .ui.checkbox
                    input(type='checkbox', name='remember')
                    label Remember me on this computer for 30 days
            .ui.fluid.large.primary.submit.button Verify Token

    script(src='/js/direct.tfa.js')
