extends ../extends/in-template

block head
    title #{vars.app_name} Home
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js' integrity='sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=' crossorigin='anonymous')
    script(src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/js/jqueryui-editable.min.js')
    script(src='js/howler.js')
    script(src='js/jquery.countdown.js')
    script(src='js/jquery.bootstrap-touchspin.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/css/jqueryui-editable.css')
    style(type='text/css').
        .ui.fluid.container { max-width: 95% !important; }
        .ui.fixed.bottom.sticky { width: 100%; }
        .ui.fixed.bottom.sticky > .ui.menu { font-size: x-small !important; }
        .ui.fluid.container .ui.segment { padding: 0; padding-top: 1em; }
block body
    .ui.fluid.container
        .ui.active.centered.inline.loader
    .ui.fixed.bottom.sticky
        .ui.menu
            .item &copy; #{moment().format('YYYY')} #{vars.company_name}
            .right.menu
                .item User: #{profile.fullName}
                #layout.item Layout: Saved
                .item Connected to: #{ip}
                .item Ping: Good
                .item
                    i#conn-b.square.icon
                    i#conn-c.square.icon

    include ./modals/instrument-grid
    script(src='js/direct.home.js')
