extends ../extends/in-template

block head
    title #{vars.app_name} Support
    link(rel='stylesheet' type='text/css' href='/css/direct.explorer.css')

block body
    .ui.grid.container
        .row
            .sixteen.wide.column
                h1.ui.header Support Center
        .row
            .sixteen.wide.column
                .ui.massive.form
                    .field
                        input(type='text', placeholder='How do I?')
        .row
            .four.wide.column
                .ui.secondary.vertical.menu
                    a.item How do I add an instrument?
                    a.item What is the instrument symbology?
                    a.item How can I get in contact?
                    a.item How do I save my layout?
            .ui.vertical.divider(style='position: relative;padding: 0 !important;')
            .twelve.wide.stretched.column
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie nibh nisl, nec hendrerit sapien consectetur quis. Aenean hendrerit, ante sit amet condimentum hendrerit, massa erat cursus lacus, nec bibendum nisl metus sit amet est. Fusce auctor, ipsum sed vestibulum dictum, quam diam hendrerit libero, vel feugiat metus dolor eget metus. Vivamus scelerisque iaculis egestas. Etiam euismod congue lorem vitae tempus. Donec commodo libero nec lectus fringilla faucibus. Nullam venenatis tincidunt ante, vel luctus nisi dapibus quis. Ut consequat elit non eleifend dapibus. Quisque tortor ante, tincidunt nec hendrerit et, placerat et ex. Integer ut velit et felis commodo volutpat. Vivamus sollicitudin placerat commodo. Aliquam suscipit ultricies enim ac ornare. Fusce massa ex, molestie at blandit id, ornare nec ipsum. Integer semper ac elit a dictum. Nulla tempus eleifend lacinia.
                p Fusce id enim eu arcu posuere gravida. Donec consequat ante quis metus elementum, id euismod turpis consectetur. Nullam vel aliquam leo. Integer ac venenatis risus, sit amet rhoncus diam. Vestibulum interdum rutrum augue nec aliquam. Proin in arcu semper, elementum urna eget, pellentesque purus. Quisque maximus aliquet commodo. In turpis ligula, congue id porta vel, dictum sit amet risus.
                p Proin vitae sem sit amet lacus vestibulum aliquam a rutrum felis. Nullam egestas arcu ac neque mollis volutpat. Nam sed elementum felis. Suspendisse ac posuere ex, a imperdiet nisl. Nam auctor dui et tempor fermentum. In tincidunt hendrerit lobortis. Mauris pellentesque ex a nunc congue egestas. Ut aliquam sagittis tellus, ac egestas velit facilisis eget. Mauris erat felis, hendrerit a pharetra vel, viverra et justo. Morbi in arcu sit amet augue vehicula pellentesque. Morbi lobortis massa non erat molestie, eget volutpat lorem aliquet. Quisque vel mi eget risus maximus blandit eget nec est. Nulla ante lectus, malesuada sit amet pretium et, imperdiet sit amet ex. Phasellus vitae magna at sapien rhoncus convallis feugiat vitae velit. Fusce lobortis lacus dolor, non tristique ipsum pharetra vitae.
                p Nulla faucibus mattis nisl mollis malesuada. Nulla in elementum augue. Donec sollicitudin velit lorem, vel rhoncus nulla consectetur ac. Curabitur turpis ligula, pellentesque in tortor vel, interdum volutpat metus. Duis laoreet ornare nisl. Morbi suscipit in purus a tempor. Praesent fermentum dolor eu enim malesuada lobortis pulvinar ac lacus. Vivamus tellus mauris, pellentesque quis sem eu, dictum pulvinar nisl. Sed et augue libero. Praesent neque arcu, ornare ut finibus id, fringilla ac nunc.
                p Nullam vitae urna eget risus ultricies ultrices. Fusce condimentum consectetur odio, at mattis nunc cursus facilisis. Vestibulum nulla metus, rhoncus non elementum vel, condimentum a nibh. Aliquam sagittis consequat urna vel posuere. Suspendisse id lorem tincidunt, viverra arcu nec, condimentum lacus. Nam dictum dui a lacus laoreet tempor. Nulla dignissim est vel imperdiet suscipit.
                p Integer elementum turpis ac arcu semper elementum. Suspendisse mollis fringilla faucibus. Pellentesque consectetur leo at arcu elementum pellentesque. Aliquam aliquam quam at erat imperdiet, quis pretium est porttitor. Aliquam purus urna, auctor at enim vitae, tincidunt euismod neque. Ut eu semper quam, vitae posuere nulla. Proin tristique finibus risus, nec vulputate ligula. Quisque bibendum elementum felis, ac maximus ligula suscipit sed. Duis lectus lacus, vulputate vel nulla at, mollis ultrices nibh. Pellentesque vitae arcu nibh. Vivamus ut eros sem. Donec faucibus sagittis suscipit. Integer varius iaculis elit rhoncus pharetra.
                p Mauris posuere placerat massa vel lobortis. Cras elementum mi eget neque pretium, in congue purus commodo. Etiam ante diam, egestas eu massa ut, imperdiet gravida sapien. In ultricies ullamcorper efficitur. Curabitur id augue faucibus nunc lobortis ullamcorper. Integer ac arcu in erat condimentum mattis. Vestibulum blandit luctus lectus id sagittis.
                p Aenean venenatis dolor at facilisis consequat. Nunc facilisis sem eget nibh pulvinar bibendum. Vestibulum porta, leo eu malesuada mattis, metus justo convallis arcu, ut dignissim mi neque ac dui. Vestibulum eget faucibus lacus. Ut et tellus turpis. Suspendisse viverra ultrices libero at hendrerit. Vivamus eros orci, pellentesque sed malesuada sed, vulputate a justo. Suspendisse vitae consequat lorem, in suscipit ante. Nam in sollicitudin eros. Morbi eu sagittis elit, vel sagittis nisl. Maecenas molestie mi id lacus gravida vulputate. Mauris ullamcorper lectus quis magna posuere, sit amet dignissim arcu semper. Maecenas libero sem, vulputate eu semper eu, pretium vel metus. Morbi magna risus, vehicula at lobortis eget, tempus non lacus.
                p Proin sagittis diam non nisi gravida venenatis. Integer dignissim imperdiet volutpat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ac metus augue. Vivamus id maximus nunc. Donec ornare blandit dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris congue risus sapien, quis feugiat dui tincidunt non. Sed vel eleifend ex. Phasellus aliquam feugiat rhoncus. Fusce interdum, orci a posuere consectetur, turpis libero pharetra felis, nec hendrerit nisl mauris at leo. Phasellus varius hendrerit sem, vitae cursus velit viverra eu. Nulla sed mauris id lorem facilisis pellentesque sit amet non lacus. Maecenas velit ex, commodo eu ultrices eget, porttitor ultrices eros.
                p Etiam pulvinar mattis urna, id convallis mi sodales ac. Ut sit amet justo enim. Nulla in magna dolor. Nulla vel lobortis mauris. Curabitur magna ipsum, mollis sed turpis non, varius egestas est. Cras condimentum eleifend sem in auctor. Nullam vitae eros arcu. Donec ut libero quis nisl dictum tincidunt. In volutpat id tortor ac cursus. Nam ornare, orci ac eleifend malesuada, elit velit suscipit massa, vitae mollis quam justo ut urna. Ut sed eleifend lectus.
