table#quotetable.ui.very.basic.table
    thead
        tr
            th
            th
            th
            th
            th
            th
            th
            th
            th
            th
            th.qt-controls Controls
            th.qt-remove Remove
