#tabs.ui.top.attached.tabular.menu
    each val in tabs
        a.item.gridtab(data-id=val.id data-tab=val.id class={active: val.isActive}) #{val.name}
    button.ui.top.attached.basic.button.newtab
        i.add.icon
        | Add Tab
    .right.menu
        button.ui.red.top.attached.basic.icon.button.deltab
            i.trash.outline.icon
each val in tabs
    .ui.bottom.attached.tab.segment(data-tab=val.id class={active: val.isActive})

