extends ../extends/in-template

block head
    title #{vars.app_name} Administration

block body
    .ui.grid.container
        .row
            .sixteen.wide.column
                h1.ui.header Administration
        .row
            .four.wide.column
                .ui.secondary.vertical.menu
                    a.item(class={active: path === '/admin/status'} href='./status') Status
                    a.item(class={active: path === '/admin/activity'} href='./activity') Activty
                    a.item(class={active: path === '/admin/invite'} href='./invite') Invite
            .twelve.wide.stretched.column
                block content
