doctype html
html(lang='en')
    head
        include ../includes/global-head
        block head
            title No Title
        style(type='text/css').
            .attached.secondary.menu {
                margin-bottom: 20px;
            }
    body
        .ui.attached.secondary.menu
            .ui.container
                .header.item #{vars.company_name}
                a.item(class={active: path === '/home'} href='/home') Home
                a.item(class={active: path === '/history'} href='/history') History
                a.item(class={active: path === '/support'} href='/support') Support
                .right.menu
                    if path === '/home'
                        .item
                            #addInst.ui.green.button Add 
                    .ui.dropdown.icon.item
                        i.user.icon
                        .menu
                            .item #{profile.username}
                            .divider
                            a.item(href='/settings') Settings
                            if profile.roleId > 1
                                a.item(href='/admin') Admin
                            a.item(href='/logout') Logout
        block body
        script(src='/js/direct.nav.js')


