doctype html
html(lang='en')
    head
        include ../includes/global-head
        block head
            title No Title
        style(type='text/css').
            .column {
                max-width: 400px;
            }
    body
        .ui.middle.aligned.center.aligned.grid
            .column
                h2.ui.primary.image.header
                    .content #{vars.company_name}
                block body