extends ../extends/in-template

block head
    title #{vars.app_name} Settings

block body
    .ui.grid.container
        .row
            .sixteen.wide.column
                h1.ui.header Settings
        .row
            .four.wide.column
                .ui.secondary.vertical.menu
                    a.item(class={active: path === '/settings/profile'} href='./profile') Profile
                    a.item(class={active: path === '/settings/permissions'} href='./permissions') Permissions
                    a.item(class={active: path === '/settings/notifications'} href='./notifications') Notifications
                    a.item(class={active: path === '/settings/security'} href='./security') Security
            .twelve.wide.stretched.column
                block content
